<div class="container mt-3">
  <h1>Sistemas de controle de clientes</h1>
  <p>Projeto desenvolvido em Angular com API Spring Boot.</p>


  <div class="mb-3 text-start">
    <button class="btn btn-success btn-sm"
     data-bs-toggle="modal" 
    data-bs-target="#cadastrarCliente">
      Adicionar Cliente
  </button>
  </div>

  <table CLASS="table table-bordered">
    <thead>
      <tr>
        <th>ID</th>
        <th>NOME DO CLIENTE</th>
        <th>EMAIL</th>
        <th>TELEFONE</th>
        <th>OPERAÇÕES</th>
      </tr>
    </thead>
    <tbody> <!--corpo da tabela-->
        <tr *ngFor="let c of clientes">
            <td>{{c.idCliente}}</td>
            <td>{{c.nomeCliente}}</td>
            <td>{{c.emailCliente}}</td>
            <td>{{c.telefoneCliente}}</td>
            <td>
            <button (click)="obterCliente(c)"
              data-bs-toggle="modal" data-bs-target="#atualizarCliente"
               class="btn btn-sm btn-outline-primary me-1">
              Editar
            </button>
            <button (click)="excluirCliente(c.idCliente)"             
              class="btn btn-sm btn-outline-danger">
              Excluir
            </button>
          </td>
        </tr>

    </tbody>
    <tfoot> <!--roda pe da tabela-->
      <tr>
        <td colspan="5">
          QUANTIDADE DE CLIENTES: {{clientes.length}}

        </td>

      </tr>
    </tfoot>

  </table>

</div>

<div class="modal fade" id="atualizarCliente" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Atualizar Cliente</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
       
          <form [formGroup]="formEdicao"(ngSubmit)="atualizarCliente()">


              <div class="mb-2">
                  <label>ID do cliente:</label>
                  <input type="text" class="form-control" readonly 
                  formControlName="idCliente" />
              </div>


              <div class="mb-2">
                  <label>Nome do cliente:</label>
                  <input type="text" class="form-control"
                      placeholder="Digite o nome aqui."
                      formControlName="nomeCliente"/>


                      <div class="text-danger"
                      *ngIf="fEdicao['nomeCliente'].touched && fEdicao['nomeCliente'].invalid">
                      Informe o nome para edição com pelo menos 8 caracteres.
                      </div>

              </div>


              <div class="mb-2">
                  <label>Email do cliente:</label>
                  <input type="text" class="form-control"
                      placeholder="Digite o email aqui."
                      formControlName="emailCliente"/>

                      <div class="text-danger"
                      *ngIf="fEdicao['nomeCliente'].touched && fEdicao['nomeCliente'].invalid">
                      Informe um email válido para edição.
                      </div>
              </div>


              <div class="mb-2">
                  <label>Telefone do cliente:</label>
                  <input type="text" class="form-control"
                      placeholder="Digite o telefone aqui."
                      formControlName="telefoneCliente"/>

                      <div class="text-danger"
                      *ngIf="fEdicao['nomeCliente'].touched && fEdicao['nomeCliente'].invalid">
                      Informe um telefone para edição com exatamente 11 dígito.
                      </div>
              </div>


              <div class="mb-2 d-grid">
                  <input type="submit" class="btn btn-primary btn-sm"
                      data-bs-dismiss="modal"
                      [disabled]="formEdicao.invalid"
                      value="Salvar Alterações"/>
              </div>


          </form>


      </div>
    </div>
  </div>
</div>


